body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* TOPO COM IMAGEM PRETA (igual ao da foto) */
.topo-img {
    width: 25%;
    display: block;
    flex-wrap: wrap;
    display: flex;
    margin:10px;
    justify-content: center;

}

/* MENU */
.menu {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
    gap: 15px;
    border-bottom: 1px solid #ccc;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
}

.img-banner{
width:100%;
align-items: center;
display: flex;
flex-wrap: wrap;
border-radius:3px;
padding:25;
}

/* GALERIA – 5 IMAGENS LADO A LADO (NÃO RESPONSIVO) */
.galeria {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background: #fff;
    margin: 10px;
    border-radius: 8px;
}

.img-galeria {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 5px;
}

/* PRODUTO */
.produto {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.celular-img {
    width: 180px;
    margin: 15px 0;
}
.img-lealphone{
width:180px;
margin:25px 0;
align-items: center;
justify-content: center;
}
.img-novos-modelos{
width:200px;
align-items: center;
justify-content: center;
}
.img-dog{
width:220px;
}
.preco-antigo span {
    text-decoration: line-through;
    color: red;
}

.preco-novo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}
/* TEXTO COMPLEMENTAR */
.info{
text-align: center;
}
.lista {
    text-align: left;
    max-width: 350px;
    margin: auto;
}

/* VIDEO */
.video {
    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.video-box {
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

/* RODAPÉ */
footer {
    text-align: center;
    background: #222;
    color: #ccc;
    padding: 25px;
}

.voltar {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #0077ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* BOTÃO WHATSAPP COM IMAGEM */
.whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-whats {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RESPONSIVIDADE */
@media (max-width: 480px) {
    .galeria {
        flex-wrap: wrap;
    }

    .img-galeria {
        width: 45%;
        height: auto;
    }

    .celular-img {
        width: 140px;
    }

    .menu {
        gap: 5px;
    }
}